<p style="color: green"><%= notice %></p>

<%= render @plant %>

<div>
  <%= link_to "Add new plant",new_plant_path(person_id:@plant.person_id) %>
  <%= link_to "Edit this plant", edit_plant_path(@plant,person_id:@plant.person_id) %> |
  <%= link_to "Back to plants", plants_path %>

  <%= button_to "Destroy this plant", @plant, method: :delete %>
</div>
